{% set distro_requires %}
  <name op="=" value="RHEL-7.0"/>
  <variant op="=" value="BaseOS"/>
{% endset %}
{% set host_requires %}
  <or>
    <labcontroller op="=" value="example1.com"/>
    <labcontroller op="=" value="example2.com"/>
    <labcontroller op="=" value="example3.com"/>
  </or>
{% endset %}
